body{margin:0;padding:0;background:#fff;font-size:14px;font-family:Arial,Helvetica,'STHeiti','Microsoft YaHei','sans-serif'}
form,ul,li,p,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
img{border:0;}
ul,li{list-style-type:none;}
a{color:#00007F;text-decoration:none;}
a:hover{text-decoration:none;}
#ul_one li{
    display: inline;
}
#ul_one #li1{
    margin-left: 260px;
}
#ul_one .lis{
    font-size: 1.5em;
    border-right: 1.5px dotted gray;
    margin-right: 50px;
    position: relative;
    top:-30px;
}
#ul_one .lis a{
    color: gray;
    padding-right: 45px;
}
#ul_one .lis2{
    border-right: 1.5px dotted white;
}
#ul_one .lis3{
    padding-left: 40px;
}
#div_top{
    width: 100%;
    height:417px;
}
#div_top #img_top{
    width:100%;
    height:100%;
}
#img_top1,#img_top2,#a1,#img_top4,#img_bottom1,#img_bottom2,#img_bottom4{
    margin-left: 320px;
}
#ul_two{
    margin-left: 500px;
}
#ul_two li{
    display: inline;
}
#div_end{
    width:100%;
    height: 150px;
    background: rgb(38,38,38);
}
#ul_three li{
    display: inline;
    color: gray;
    font-size: 1.2em;
    margin-right: 20px;
    cursor: pointer;
    position: relative;
    bottom: -40px;
}
#ul_three{
    text-align: center;
}
#p1{
    color: gray;
    font-size: 1.2em;
    text-align: center;
    margin-top: 60px;
}
#span1{
    margin-left: 30px;
}
#ul_two img{
    cursor: pointer;
}
.divs{
    width:800px;
    height: 380px;
    font-size: 18px;
    visibility: hidden;
    position: absolute;   /* 使用绝对定位或固定定位  */
    left: 500px;
    top: 4250px;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 0 5px 5px #ccc;
    padding: 15px 20px;
}
.btn {
    position: absolute;
    top:5px;
    right: 6px;
}
#a_top{
   font-size: 3em;
    position: fixed;
    right: 50px;
    cursor: pointer;
}